<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <style>
      /* fix unknown arco message style error */
      .arco-message-list {
        left: 0;
      }
    </style>
    <!-- Run Conditions-->
    <% if(isDev){ %>
        <script>
          window.global = window;
          console.log("%c fix mutaition.js dev mode global undefined.", "color: blueviolet");
        </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
